<html>
  <head>
    <meta charset="utf-8">
    <title>Paste note</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5;
      }</style>
  </head>
  <nav class="navbar navbar-default">
    <a class="navbar-brand" href="/">
      <img src="/static/img/favicon.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Pastenote </a>
  </nav>
  <body>
	{% block content %}
	<div class="container">
    {% if notes %}
      {% for note in notes %}
        <tr>
          <td><h3>Note: {{ note[0] }}</h3><h4>Text :{{ note[1] }}</h4></td></tr>
      {% endfor %}
    {% else %}
      <p>Not found</p>
    {% endif %}
		</div>
	{% endblock %}
  </body>
  <footer class="footer"><br \>
    <p class="text-muted text-center">Redbutton</p>
  </footer>
</html>